@{
    ViewData["Title"] = "Add";
    var users = ViewBag.Users as List<ApplicationUser>;
}

<h1>添加角色</h1>
<form role="form" method="post" asp-action="Add">
    <input type="hidden" name="Type" value="@ViewBag.Type" />
    @if (ViewBag.Type == "Edit")
    {
        <hr />
        <h2>角色用户</h2>
        <ul>
            @foreach (var u in users)
            {
                <li>@u.UserName</li>
            }
        </ul>
        <a asp-action="AddRoleToUser" class="btn btn-primary" asp-route-roleId="@Model.Id">为角色添加用户</a>
    }
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Name"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Name" />
        </div>
        <span asp-validation-for="Name"></span>
    </div>
    <div asp-validation-summary="ModelOnly"></div>
    <button type="submit" class="btn-primary">提交</button>
</form>