@model List<ApplicationUser>
@{
    ViewData["Title"] = "Index";
}

<h1>用户列表</h1>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>编号</td>
                <td>用户账号</td>
                <td>昵称</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.NickName</td>
                    <td>
                        <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-warning">编辑</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<a asp-action="Add" class="btn btn-primary">添加用户</a>